<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN "http://www.w3.org/TR/xhtml1/DTD/xhtml-1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="FR" lang="FR">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="<%= I18n.locale %>">

  <link rel="shortcut icon" href="/favicon.ico" />

	<%= display_meta_tags :site => @site %>

  <%= stylesheet_link_merged :home %>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <%= javascript_include_merged :home %>
  
  <%= yield :headers %>
</head>
<body>
<div id="container">
  
  <div id="admin_nav">
	  <%= render :partial => 'shared/language' -%>
	  <%= render :partial => 'shared/login_box' %>
	</div>
	<div class="clear"></div>
  
	<div id="header">
		<div id="title">
      <h1><a href="/"><%= @site %></a></h1>
    </div>
  </div>
	
	<div id="wrapper">
		<div id="main"><div id="m">
			<%= render :partial => "/layouts/flashes" %>
	  	<%= yield %>		
	  </div></div>
	  <div id="footer"></div>
	</div>
</div>

</body>
</html>